<ion-view hide-back-button="true">
    <ion-nav-title>
        <div class="view-title">{{viewObject.title | translate}}</div>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button
                class=" button-icon button-clear nav-right-button ion-android-funnel">
        </button>
    </ion-nav-buttons>
    <ion-content has-header="true" has-tabs="true">
        <!--padding="true"-->
        <ion-refresher on-refresh="refresh()"></ion-refresher>
        <div class="subtitle">Today</div>

        <!--<ion-slide-box slide-tabs-scrollable="false"  show-pager="false" ion-slide-tabs>-->
        <!--<ion-slide ion-slide-tab-label="{{ 'TITLE' | translate }}"><h1>{{ 'TITLE' | translate }}</h1></ion-slide>-->
        <!--<ion-slide ion-slide-tab-label="{{ 'FOO' | translate }}"><h1>Tab 2</h1></ion-slide>-->
        <!--</ion-slide-box>-->

        <ion-list can-swipe="true"><!--show-delete="false"--><!--show-reorder="false"-->
            <ng-switch on="viewObject.key">
                <div ng-switch-when="E0001">
                    <e0001 ion-list="ionList"></e0001>
                </div>
                <div ng-switch-when="E0001-item">
                    <e0001-item ion-list="ionList"></e0001-item>
                </div>
                <div ng-switch-when="E0002">
                    <e0002 ion-list="ionList"></e0002>
                </div>
                <div ng-switch-when="E0005">
                    <e0005 ion-list="ionList"></e0005>
                </div>
                <div ng-switch-when="E0004">
                    <e0004 ion-list="ionList"></e0004>
                </div>
                <div ng-switch-when="E0004-item">
                    <e0004-item ion-list="ionList"></e0004-item>
                </div>
                <div ng-switch-when="E0005-item">
                    <e0005-item ion-list="ionList"></e0005-item>
                </div>
                <div ng-switch-when="E0022">
                    <e0022 ion-list="ionList"></e0022>
                </div>
            </ng-switch>
        </ion-list>
        <ion-infinite-scroll
                on-infinite="loadMore()"
                icon="ion-loading-c"
                distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>


