<ion-view title="{{ component.name }}" hide-back-button="true">

    <ion-content has-header="true" has-tabs="true" padding="true">
    <ion-list>
        <ion-item type="item-text-wrap"
                  ng-repeat="message in messages  | orderBy:['-favorite','-id']"
                  ng-click="goDetail(message.id,message.read,message.origin)">
            <div class="item item-text-wrap">
                <strong ng-class="{positive: message.read, energized: message.favorite}">
                    {{ message.id }}
                </strong> {{ message.metadata.vend_NAME}}
                <div class="card-footer text-right">
                    {{ message.message}}{{ message.metadata.target_VAL| currency:"RMB￥"}}
                    <div class="pull-left">
                        {{ message.metadata.vend_NAME}}
                    </div>
                </div>
                <div class="card-footer text-right">
                    <i class="icon ion-chatbubbles positive"></i> 6
                    <i class="icon ion-heart assertive"></i> {{message.read}}
                    <div class="pull-left">
                        <i class="icon ion-clock"></i> <span am-time-ago="message.date"></span>
                    </div>
                </div>
            </div>
        </ion-item>

    </ion-list>
</ion-content>
</ion-view>


