<ion-view view-title="PurchaseOrder {{ data.po_NUMBER }}" hide-back-button="true">
    <ion-content>
        <div class="ink dark-bg">
            <h2>{{ data.po_NUMBER }}</h2>
        </div>
        <div class="content">
            <h3>{{ data.co_CODE_TEXT }}</h3>
            <h3>{{ data.purch_ORG_TEXT }}</h3>
            <h3>{{ data.doc_DATE }}</h3>
            <span am-time-ago="data.doc_DATE"></span>
        </div>
        <div>
            <button ng-disabled="data.lock" class="button button-block button-positive" ng-click="showConfirm()">
                {{data.approveButtonText}}
            </button>
        </div>
        <a ui-sref="purchaseOrderHeader({index: message.po_NUMBER})"
           class="item item-icon-right" class="item">
            <h2>more header informaiton</h2>
            <i class="icon ion-ios-arrow-right muted"></i>
        </a>
        <a ui-sref="purchaseOrderItems({index: message.po_NUMBER})"
           class="item item-icon-right" class="item">
            <h2>items</h2>
            <i class="icon ion-ios-arrow-right muted"></i>
        </a>
    </ion-content>
</ion-view>



