<ion-view view-title="{{ message.id }}" hide-back-button="true">
    <ion-content>
        <div class="ink dark-bg">
            <h2>Where's Elsa?</h2>
            <a ng-repeat="(key,value) in message.metadata" class="item">
                {{key+':'+ value}}
            </a>

            <a ng-click="goDetail()" class="item">
                <div class="row">
                    - > more
                    data...
                </div>
            </a>
        </div>
        <div class="content">
            <h3>Daenerys Targaryen</a></h3>
            <h4>dragon_mommy</h4>
            <div ng-repeat="data in releaseGroupArray">
                <create-task message="message" release-group="data">
                </create-task>
            </div>
            <div class="list">
                <a ng-repeat="(key,value) in message.last" class="item">
                    {{ key+': '+value }}
                </a>
                <span class="item-note" am-time-ago="message.last.date"></span>
            </div>
        </div>

        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Activity
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> more
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <button favorite-message
                        component="message.component"
                        message-id="message.id"
                        class="button icon-left ion-star ">Favorites
                </button>
            </a>
        </div>
        <h4 class="content padding double-padding-x">Items</h4>

        <div class="list " ng-controller="messageItemCtrl">
            <a ui-sref="app.friends" class="item item-icon-right" ng-repeat="data in syncedItemStart" class="item"
               ng-click="goDetail(data)">
                <h2>{{ data.po_ITEM}} {{ data.pur_MAT}}</h2>
                <p>{{ data.net_PRICE}} {{ data.disp_QUAN}}</p>
                {{ data.short_TEXT}}
                <i class="icon ion-ios-arrow-right muted"></i>
            </a>
            <button ng-hide="isloaded" class="button button-full button-stable" ng-click="loadingMore()">
                {{ loadText }}
            </button>
            <a ng-repeat="data in continued" class="item">
                {{ data }}
            </a>
        </div>
    </ion-content>
</ion-view>



