<!--
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped tabs-positive tabs-icon-only">
    <!-- Messages Tab -->
    <ion-tab title="Messages" icon-on="ion-ios-filing"
             icon-off="ion-ios-filing-outline" href="#/tab/messages">
        <ion-nav-bar class="bar-assertive-900"
                     align-title="default">
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear
            ion-android-more-vertical">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="messages-tab"></ion-nav-view>
    </ion-tab>
    <!-- Setting Tab -->
    <ion-tab title="Setting" icon-on="ion-ios-gear"
             icon-off="ion-ios-gear-outline"   href="#/tab/setting">
        <ion-nav-view name="setting-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>
