<ion-view view-title="{{viewtitle}} " hide-back-button="true">
    <ion-content has-header="true" has-tabs="true" padding="true">
        <ion-refresher on-refresh="refresh()"></ion-refresher>
        <ion-list show-delete="false"
                  show-reorder="false"
                  can-swipe="true">
            <ion-item class="item-text-wrap item-thumbnail-left" ng-repeat="message in messages">
                <!--ui-sref="purchaseOrder({ref:messagesRef+'/'+ message.po_NUMBER})"-->
                {{ message.employeenumber}}  {{message.abs_ATT_TYPE}} <p>{{message.shorttext}}</p>
                <div>
                    <strong ng-class="{positive: message.read, energized: message.favorite}">
                        Status:{{message.status}}
                    </strong>
                    <i ng-show="message.lock" class="icon ion-locked positive"></i>
                </div>
                <div>{{message.$id}}</div>
                <div>{{message.workdate}} {{message.catshours}}</div>
                <div>{{message.creationdate}} {{message.entrytime}}</div>
                <div><p>{{message.approving_ADMIN}} {{message.date_OF_APPROVAL}}</p></div>
                <ion-option-button class="button-positive"
                                   ng-click="share(item)">
                    Share
                </ion-option-button>
                <ion-option-button class="button-info"
                                   ng-click="edit(item)">
                    Edit
                </ion-option-button>
                <ion-delete-button class="ion-minus-circled"
                                   ng-click="items.splice($index, 1)">
                </ion-delete-button>
                <ion-reorder-button class="ion-navicon"
                                    on-reorder="reorderItem(item, $fromIndex, $toIndex)">
                </ion-reorder-button>

            </ion-item>
        </ion-list>
        <ion-infinite-scroll
                on-infinite="loadMore()"
                icon="ion-loading-c"
                distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>


