/* Your app's CSS, go crazy, make it your own */
.selectable{
    -webkit-user-select: auto;
}
.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}
/** Styling for the username field **/
label.item.has-error {
    border-bottom: 2px solid red;
}

/** Styling for the password field when an error exists**/
label.item.has-error-lr {
    border-left: 2px solid red;
    border-right: 2px solid red;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {
    border-left: 2px solid green;
    border-right: 2px solid green;
}

/** Styling for the error text and container **/
.form-errors {
    margin: 5px 0
}
.form-error {
    padding: 2px 0 2px 16px;
    color: red;
}
#search-input {
    text-align: center;
}

#photos {
    margin: auto;
}

.photo {
    width: 100px;
    height: 100px;
    margin: 1px;
    float: left;
    overflow: hidden;
}
.photo img {
    min-width: 100%;
    min-height: 100%;
    max-width: 150%;
    max-height: 150%;
}

#search-bar {
    background: none;
    position: absolute;
    width: 100%;
    top: 44px;
    height: 40px;
    z-index: 3;
}
#search-bar .item {
    background: none;
    border: none;
}
#content {
    top: 44px;
    padding-top: 45px;
    padding-bottom: 20px;
}