<ion-view view-title="time sheet" hide-back-button="true">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-plus"></button>
        <!--<button class="button button-icon button-clear ion-plus" ng-click="openModal()"></button>-->
    </ion-nav-buttons>
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <div>{{data.COUNTER}}</div>
                <div>{{data.WORKDATE}}</div>
                <div class="item range range-positive">
                    <i>{{data.CATSHOURS}}</i>
                    <input type="range" name="volume" min="0" max="8" ng-model="data.CATSHOURS">
                    <i class="icon ion-ios-bolt"></i>
                </div>
                <div>{{ data.PREQ_DATE }} <span am-time-ago="data.CH_ON"></span></div>
                <label class="item item-input">
                    <input type="text" placeholder="SHORTTEXT" name="SHORTTEXT" ng-model="data.SHORTTEXT">
                </label>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-assertive">
        <div class="buttons">
            <create-task class="button" button-text="delete" popup="deletePopup" task-data="deleteTaskData"></create-task>

        </div>
        <h1 class="title">|</h1>

        <div class="buttons">
            <create-task class="button" button-text="save" popup="editPopup" task-data="editTaskData"></create-task>
        </div>
    </ion-footer-bar>
</ion-view>



