<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar-positive bar-header2">
        <div class="row">
            <div class="col ">
                <button ng-if="$root.showCustomBack" ng-click="$root.goBack()"
                        class=" button-icon button-clear nav-left-button ion-android-arrow-back">
                </button>
            </div>
            <div class="col col-80">
                <div class="row responsive-sm">
                    <div class="col bar-text">Purchase Order</div>
                    <div class="col">{{ data.CO_CODE }} CO_CODE_TEXT</div>
                    <div class="col">{{ data.PURCH_ORG }} PURCH_ORG_TEXT</div>
                    <div class="col">{{ data.DOC_DATE }}</div>
                </div>
            </div>
            <div class="col ">
                <button
                        class=" button-icon button-clear nav-left-button ion-android-star">
                </button>
            </div>
        </div>
    </ion-header-bar>
    <ion-content has-header="true" CLASS="has-header2">
        <a ui-sref="purchaseOrderHeader({index: data.po_NUMBER})"
           class="item item-icon-right" class="item">
            <h2>more header informaiton</h2>
            <i class="icon ion-ios-arrow-right muted"></i>
        </a>
        <a ui-sref="ionListView({viewName:'E0001-item',index:purchaseOrderItemsRef,key:data.$id})"
           class="item item-icon-right" class="item">
            <h2>items</h2>
            <i class="icon ion-ios-arrow-right muted"></i>
        </a>

    </ion-content>

    <div class="bar bar-footer bar-light">
        <button class="button button-outline button-light" ng-click="thirdService.handleFirstButton()"><i
                class="ion-arrow-left-c">{{textForButton1}}</i></button>
        <create-task class="button button-right button-block button-clear" button-text="approve" popup="popup"
                                                                     task-data="taskData"></create-task>
    </div>
    <!--<ion-footer-bar align-title="left" class="bar-assertive">-->
    <!--<div class="buttons">-->
    <!--<button class="button">Left Button</button>-->
    <!--</div>-->
    <!--<h1 class="title">|</h1>-->
    <!--<div class="buttons" >-->
    <!--<create-task class="button" button-text="approve" popup="popup" task-data="taskData"></create-task>-->
    <!--</div>-->
    <!--</ion-footer-bar>-->
</ion-view>



