<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <!-- build:css styles/vendor.css -->
    <!-- <link rel="stylesheet" href="vendor/some.contrib.css"> -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/contacts.css">
    <link rel="stylesheet" href="css/robotodraft.css">
    <link rel="stylesheet" href="css/style.css">


    <link rel="stylesheet" href="css/ionic.app.min.css">
    <link rel="stylesheet" href="css/material-design-icons.css">
    <link href="lib/ionic-material/dist/ionic.material.min.css" rel="stylesheet">

    <!-- ionic.material
    <link href="lib/ionic-material/ionic.material.min.css" rel="stylesheet">
    <script src="lib/ionic-material/ionic.material.min.js"></script>
    -->
    <!-- endbuild -->

    <!-- build:js scripts/vendor.js -->
    <!-- <script src="vendor/someContribJs.js"></script> -->
    <!-- bower:js -->
    <!-- ionic/angularjs js -->
    <script src="lib/jquery.2.0.min.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="lib/ionic-service-core/ionic-core.js"></script>
    <script src="lib/ionic-service-push/ionic-push.js"></script>
    <script src="lib/ionic-service-deploy/ionic-deploy.js"></script>
    <script src="lib/ionic-service-analytics/ionic-analytics.js"></script>
    <script src="lib/angular-translate/angular-translate.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="lib/angular-messages/angular-messages.js"></script>
    <script src="lib/ionic/js/ionic.js"></script>
    <script src="lib/ionic/js/ionic-angular.js"></script>
    <script src="lib/firebase/firebase.js"></script>
    <script src="lib/firebase-util/dist/firebase-util.min.js"></script>
    <script src="lib/angularfire/dist/angularfire.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/underscore/underscore.js"></script>
    <script src="lib/moment/moment.js"></script>
    <script src="lib/angular-momentjs/angular-momentjs.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="lib/elasticsearch/elasticsearch.angular.min.js"></script>
    <script src="lib/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="lib/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <!--<script src="lib/ion-md-input/js/ion-md-input.js"></script>-->

    <link href="lib/ionic-datepicker/dist/style.css" rel="stylesheet">
    <!-- path to ionic/angularjs js -->
    <script src="lib/ionic-datepicker/dist/templates.js"></script>
    <script src="lib/ionic-datepicker/dist/ionic-datepicker.js"></script>
    <link href="lib/ionic-timepicker/dist/style.css" rel="stylesheet">

    <!-- path to ionic/angularjs js -->
    <script src="lib/ionic-timepicker/dist/templates.js"></script>
    <script src="lib/ionic-timepicker/dist/ionic-timepicker.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/routes.js"></script>
    <script src="scripts/config.js"></script>
    <!-- services:js -->
    <script src="scripts/services/ionic.js"></script>


    <!-- endservices -->
    <!-- directives:js -->
    <script src="scripts/directives/directives.js"></script>
    <script src="scripts/directives/favorite-message-directive.js"></script>
    <script src="scripts/directives/ionic-timepicker-directive.js"></script>
    <!-- enddirectives -->
    <!-- filters:js -->
    <script src="scripts/filters/filters.js"></script>
    <!-- endfilters -->
    <!-- controllers:js -->
    <script src="scripts/components/appversion/appversion-directive.js"></script>
    <script src="scripts/components/auth/auth.js"></script>
    <script src="scripts/components/firebase.utils/firebase.utils.js"></script>
    <script src="scripts/components/ngcloak/ngcloak-decorator.js"></script>
    <script src="scripts/components/reverse/reverse-filter.js"></script>
    <script src="scripts/components/security/security.js"></script>
    <script src="scripts/components/security/simpleLogin.js"></script>
    <script src="scripts/components/security/changeEmail.js"></script>
    <script src="scripts/setting/sap-user-validation.js"></script>
    <script src="scripts/login/login.js"></script>
    <script src="scripts/purchase-orders/purchase-order-index.js"></script>
    <script src="scripts/search/search.js"></script>
    <script src="scripts/tasks/tasks.js"></script>
    <script src="scripts/list-template/list-template.js"></script>

    <script src="scripts/single-page-template/single-page-template.js"></script>
    <script src="scripts/home/home.js"></script>
    <script src="scripts/form-template/leave-request.js"></script>

    <!-- endcontrollers -->
    <!-- firebase:js -->


    <!-- endfirebase -->
    <!-- endbuild -->

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>


    <script src="lib/ionic-material/dist/ionic.material.min.js"></script>
    <link rel="stylesheet" href="css/icon.css">
</head>

<body ng-cloak ng-app="myApp">
<ion-side-menus>
    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-positive nav-title-slide-ios7" align-title=" left">
            <ion-nav-buttons side="left">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button ng-if="$root.showCustomBack" ng-click="$root.goBack()"
                        class=" button-icon button-clear nav-left-button ion-android-arrow-back">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
    </ion-pane>
    <ng-include src="'scripts/home/side-menu.html'"></ng-include>
</ion-side-menus>
</body>
</html>