<ion-view view-title="{{form}}" hide-back-button="true">
    <ion-nav-buttons side="right">
        <button
                ng-click="showConfirm()" class=" button-icon button-clear nav-right-button ion-android-funnel">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Search" ng-model="data.$value">
            </label>
        </div>
        {{data.$value.length}}/20


    </ion-content>
</ion-view>



