<ion-view hide-nav-bar="true" hide-back-button="true">
    <!--img/login.jpg--background picture, login_ico.png--login-->
    <!--<ion-content padding="true" style="background: url(img/login.jpg) center; background-size: cover;">-->
    <ion-header-bar align-title="center" class="bar-dark" >
        <!--<div class="buttons">-->
            <!--<button class="button" ng-click="doSomething()">Left Button</button>-->
        <!--</div>-->
        <div class="app-icon"></div>
        <!--<div class="buttons">-->
            <!--<button class="button">Right Button</button>-->
        <!--</div>-->
    </ion-header-bar>
        <ion-content padding="true" style="background-color: #444444;">

        <form name="signinForm" ng-submit="tryLogin()">
            <div class="list ">
                <label style="background: white" class="item item-input"
                       ng-class="{ 'has-error' : signinForm.email.$invalid}">
                    <i class="icon ion-person placeholder-icon"></i>
                    <input type="email" name="email" placeholder="Email"
                           ng-model="data.email"
                           ng-required="true">
                </label>
                <div class="form-errors"
                     ng-messages="signinForm.email.$error"
                     ng-messages-include="templates/form-errors.html">
                </div>
                <label style="background: white" class="item item-input "
                       ng-class="{ 'has-error-lr' : signinForm.password.$invalid
                       && signinForm.$submitted,
                   'valid-lr' : signinForm.password.$valid  && signinForm.$submitted}">
                    <i class="icon ion-locked placeholder-icon"></i>
                    <input type="password" name="password"
                           placeholder="Password" ng-model="data.password" ng-required="true"
                           ng-minlength="3"
                           ng-maxlength="25">
                </label>

                <div class="form-errors"
                     ng-show="signinForm.password.$error && signinForm.$submitted"
                     ng-messages="signinForm.password.$error"
                     ng-messages-include="templates/form-errors.html">
                </div>
                <div class="form-error"
                     ng-show="loginerror">
                    {{loginerror}}
                </div>
            </div>
            <button class="button button-block button-positive"
                    type="submit">Sign in
            </button>
        </form>
    </ion-content>
</ion-view>

