<ion-view view-title="Home">
    <ion-content>
        <ion-refresher on-refresh="refresh()"></ion-refresher>
        <div class="card-gallery item item-text-wrap" ng-show="E0001[0].show || E0002[0].show">
            <div class="item item-divider positive ">
                Purchase
                Order
                Approve
            </div>
            <div class="item item-text-wrap item-icon-right positive" ng-repeat="array in E0001[0].array  "
                 ui-sref="purchaseOrders({index:array.url})">

                {{array.url}}
                <i class="icon ion-ios-arrow-right muted"></i>
            </div>
            <div class="item item-text-wrap item-icon-right positive"
                 ui-sref="purchaseOrdersApproveMessages({index:E0002[0].url})" ng-show="E0002[0].show">
                History Messages
                <i class="icon ion-ios-arrow-right muted"></i>
            </div>

        </div>
        <div class="card-gallery item item-text-wrap" ng-show="E0004[0].show || E0004[0].show">
            <div class="item item-divider positive ">
                Purchase
                Request
                Approve
            </div>
            <div class="item item-text-wrap item-icon-right positive" ng-repeat="array in E0004[0].array  "
                 ui-sref="purchaseRequests({index:array.url})">
                {{array.url}}
                <i class="icon ion-ios-arrow-right muted"></i>
            </div>
            <div class="item item-text-wrap item-icon-right positive"
                 ui-sref="purchaseRequestApproveList({index:E0005[0].url})" ng-show="E0005[0].show">
                History Messages
                <i class="icon ion-ios-arrow-right muted"></i>
            </div>
        </div>
        <div class="card-gallery item item-text-wrap">

            <div class="item item-text-wrap item-icon-right positive"
                 ui-sref="searchOption">
                Search
                <i class="icon ion-ios-arrow-right muted"></i>
            </div>
        </div>

    </ion-content>
</ion-view>
