<ion-view class="bar-dark">
    <ion-nav-bar class="bar-positive nav-title-slide-ios7" align-title="left">
        <ion-nav-buttons side="left">&nbsp;&nbsp;&nbsp;
            <button class=" button-icon button-clear nav-left-button ion-navicon "
                    ng-click="openMenu()"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class=" button-icon button-clear ion-android-search nav-right-button "
                    ui-sref="searchOption"></button>
            &nbsp;&nbsp;&nbsp;
            <!--<button class="button button-icon button-clear ion-ios-information-outline" ui-sref="notification"></button>-->
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="view-title">ORYZA</div>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content>
        <ion-refresher on-refresh="refresh()"></ion-refresher>
        <div class="subtitle" ng-hide="fbConnection">no connection</div>

        <div class="list">
            <div class="item item-divider ">
                {{ 'Inbox' | translate }}
            </div>
            <div ng-repeat="(eventKey,eventObj) in profiles.Inbox | orderObjectBy: 'sortBy':false">
                <div class="item ">
                    <div class="buttons button-small">
                        <a class="button" ng-repeat="(key,value) in eventObj.options"
                           ui-sref="ionListView({viewName:eventObj.name,index:value})">
                            <div ng-show="objectSize(eventObj.options)>1">{{key}}</div>
                            <div ng-show="objectSize(eventObj.options)===1">{{ eventObj.name | translate }}</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item item-divider ">
                {{ 'outBox' | translate }}
            </div>
            <div>
                <div class="buttons button-small">
                    <a class="button" ui-sref="ionListView({viewName:'tasks',index:'tasks/'+serverUser})"> {{ 'outBox' |
                        translate }}</a>
                </div>
            </div>
            <div class="item item-divider ">
                {{ 'action' | translate }}
            </div>
            <div>
                <div class="buttons button-small">
                    <a class="button" ui-sref="e0023">Time-Sheet create</a>
                    <a class="button">button</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>