<ion-view view-title="{{title}}" hide-back-button="true">
    <ion-content has-header="true" has-tabs="true" padding="true">
        <ion-refresher on-refresh="refresh()"></ion-refresher>
        <div ng-show="result.data" ng-repeat="result in results ">
            <div class="item item-divider positive ">
                {{result.text}}
            </div>
            <ion-list>
                <ion-item ng-show="value" class="item item-icon-right"
                          ng-repeat="(key,value) in result.data ">
                  <div >{{key}}:{{value}}</div>
                </ion-item>
            </ion-list>
        </div>
        <ion-infinite-scroll
                on-infinite="loadMore()"
                icon="ion-loading-c"
                distance="1%">
        </ion-infinite-scroll>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-assertive">
        <div class="buttons">
            <button class="button">Left Button</button>
        </div>
        <h1 class="title">Title!</h1>
        <div class="buttons" ng-click="doSomething()">
            <button class="button">Right Button</button>
        </div>
    </ion-footer-bar>
</ion-view>





