<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar-positive bar-header2">
        <div class="row">
            <div class="col ">
                <button ng-if="$root.showCustomBack" ng-click="$root.goBack()"
                        class=" button-icon button-clear nav-left-button ion-android-arrow-back">
                </button>
            </div>
            <div class="col col-80">
                <div class="row responsive-sm">
                    <div class="col bar-text">{{title}}</div>
                    <div class="col">{{ data.CO_CODE }} CO_CODE_TEXT</div>
                    <div class="col">{{ data.PURCH_ORG }} PURCH_ORG_TEXT</div>
                    <div class="col">{{ data.DOC_DATE }}</div>
                </div>
            </div>
            <div class="col ">
                <button
                        class=" button-icon button-clear nav-left-button ion-android-star">
                </button>
            </div>
        </div>
    </ion-header-bar>
    <ion-content class="has-header2"  has-header="true" padding="true">{{ 'TITLE' | translate }}

    </ion-content>
</ion-view>





