<ion-view hide-nav-bar="true" class="search-view">
    <ion-header-bar class="bar-positive bar-header item-input-inset search-bar">
        &nbsp;&nbsp;<label class="item-input-wrapper ">
        <i class="icon ion-android-search placeholder-icon"></i>
        <input class="search-input-text" type="search" placeholder="Search {{searchObj.key}}" ng-model="query"
               ng-change="search(query)">
    </label>
        <button ui-sref="home" class="button-clear search-bar-button">
            Cancel
        </button>
    </ion-header-bar>
    <ion-content>
        <div class="card search-card">
            <div class="item item-divider item-icon-right ">
                <div class="bodyFont2">Recent searches</div>
                <i class="icon ion-android-close" ng-click="showif"></i>
            </div>

            <div class="item card-item item-icon-right" ng-repeat="result in searchHistory">
                <div ui-sref="searchDetail({table:searchLink,key:primaryKey,value:result})">
                    <p>{{result}}</p>
                </div>
                <i class="icon ion-android-delete muted" ng-click="deleteHistory(result)"></i>
            </div>
        </div>
        <div class="card search-card" ng-show="err">
            <div class="item item-divider item-icon-right ">
                <div class="bodyFont2">{{err}}</div>
            </div>
        </div>
        <ion-list>
            <ion-item class="item-remove-animate item-icon-right search-item" ng-repeat="result in results">
                <line>--------------------</line>
                <div class="item-text-wrap"
                     ui-sref="searchDetail({table:searchLink,key:primaryKey,value:result[primaryKey]})">
                    <span ng-show="result[field]" ng-repeat="field in selectFields">
                        {{field | translate}}: {{result[field]}}
                    </span>
                    <!--<h2 class="icon-left">{{result.title}}</h2>-->
                    <!--{{result.KUNNR}} {{result.NAME1}}-->
                    <!--<div class="icon-left ion-ios-home location_info">-->
                    <!--{{result.ADRNR}}{{result.ERNAM}}-->
                    <!--{{ result.TELF1 }}-->
                    <!--</div>-->
                </div>

                <!--<div ng-show="searchObj.text==='material'"-->
                <!--ui-sref="searchDetail({key:'material',index:result.MATNR})">-->
                <!--<p>{{result.MAKTX}}</p>-->
                <!--{{result.MATNR}}-->
                <!--<i class="icon ion-ios-arrow-right muted"></i>-->
                <!--</div>-->
                <div ng-show="searchObj.text==='customer'"
                     ui-sref="searchDetail({table:table,key:primaryKey,value:result[primaryKey]})">
                    <div ng-repeat="field in selectFields">
                        {{field}}: {{result[field]}}
                    </div>
                    <!--<h2 class="icon-left">{{result.title}}</h2>-->
                    <!--{{result.KUNNR}} {{result.NAME1}}-->
                    <!--<div class="icon-left ion-ios-home location_info">-->
                    <!--{{result.ADRNR}}{{result.ERNAM}}-->
                    <!--{{ result.TELF1 }}-->
                    <!--</div>-->
                </div>
                <div ng-show="searchObj.text==='vendor'"
                     ui-sref="searchDetail({key:'vendor',index:result.LIFNR})">
                    <h2 class="icon-left">{{result.title}}</h2>

                    <p>{{result.LIFNR}}</p>{{result.NAME1}}
                    <div>
                        <a ng-href="tel: {{result.LIFNR}}"
                           class="button button-calm button-outline icon-left ion-ios-telephone ">{{result.TELF1}}</a>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>


